<kit-page>

    <kit-text-display>Image</kit-text-display>
    <kit-text-body>The Image component is used to display images and automatically handle loading and error
        states.</kit-text-body>

    <kit-text-heading>Usage</kit-text-heading>
    <kit-text-body>Import the media module</kit-text-body>
    <app-code-block [code]="importModule"></app-code-block>
    <kit-text-body>Or you can import the single component</kit-text-body>
    <app-code-block [code]="importComponent"></app-code-block>
    <kit-text-body>Then use the component in your template</kit-text-body>
    <app-code-block [code]="usage"
                    language="html"></app-code-block>

    <kit-text-heading>Inputs</kit-text-heading>

    <kit-simple-table [definition]="inputsDefinition"
                      [dataset]="inputsDataset"></kit-simple-table>

    <kit-text-heading>Styling Variables</kit-text-heading>
    <kit-simple-table [definition]="stylingDefinition"
                      [dataset]="stylingDataset"></kit-simple-table>

    <kit-text-heading>Examples</kit-text-heading>

    <!-- Default Image -->
    <ng-container>
        <kit-text-label>Default Image</kit-text-label>
        <kit-text-caption>A basic image with a src and alt text.</kit-text-caption>
        <kit-image [src]="randomImageSrc"
                   width="300"
                   height="200"></kit-image>
    </ng-container>

    <!-- Image with different fit modes -->
    <ng-container>
        <kit-text-label>Fit Modes</kit-text-label>
        <kit-text-caption>The `fit` property controls how the image should be resized to fit its
            container.</kit-text-caption>
        <kit-column crossAxisAlignment="start">
            <kit-padding>
                <kit-text-label>Cover</kit-text-label>
                <kit-image [src]="randomImageSrc"
                           width="300"
                           height="300"
                           fit="cover"></kit-image>
            </kit-padding>
            <kit-padding>
                <kit-text-label>Contain</kit-text-label>
                <kit-image [src]="randomImageSrc"
                           width="300"
                           height="300"
                           fit="contain"></kit-image>
            </kit-padding>
            <kit-padding>
                <kit-text-label>Fill</kit-text-label>
                <kit-image [src]="randomImageSrc"
                           width="300"
                           height="300"
                           fit="fill"></kit-image>
            </kit-padding>
            <kit-padding>
                <kit-text-label>None</kit-text-label>
                <kit-image [src]="randomImageSrc"
                           width="300"
                           height="300"
                           fit="none"></kit-image>
            </kit-padding>
            <kit-padding>
                <kit-text-label>Scale Down</kit-text-label>
                <kit-image [src]="randomImageSrc"
                           width="300"
                           height="300"
                           fit="scale-down"></kit-image>
            </kit-padding>
        </kit-column>
    </ng-container>

    <!-- Image with border radius -->
    <ng-container>
        <kit-text-label>Border Radius</kit-text-label>
        <kit-image [src]="randomImageSrc"
                   width="200"
                   height="200"
                   borderRadius="50%"></kit-image>
    </ng-container>

</kit-page>