<kit-page>

    <kit-text-display>Image</kit-text-display>
    <kit-text-body>The Image component is used to display images with support for lazy loading, placeholders, and error
        handling.</kit-text-body>

    <kit-text-heading>Usage</kit-text-heading>
    <kit-text-body>Import the media module</kit-text-body>
    <app-code-block [code]="importModule"></app-code-block>
    <kit-text-body>Or you can import the single component</kit-text-body>
    <app-code-block [code]="importComponent"></app-code-block>
    <kit-text-body>Then use the component in your template</kit-text-body>
    <app-code-block [code]="usage"
                    language="html"></app-code-block>

    <kit-text-heading>Inputs</kit-text-heading>

    <kit-simple-table [definition]="inputsDefinition"
                      [dataset]="inputsDataset"></kit-simple-table>

    <kit-text-heading>Outputs</kit-text-heading>
    <kit-simple-table [definition]="outputsDefinition"
                      [dataset]="outputsDataset"></kit-simple-table>

    <kit-text-heading>Styling Variables</kit-text-heading>
    <kit-simple-table [definition]="stylingDefinition"
                      [dataset]="stylingDataset"></kit-simple-table>

    <kit-text-heading>Directives</kit-text-heading>
    <kit-simple-table [definition]="directivesDefinition"
                      [dataset]="directivesDataset"></kit-simple-table>

    <kit-text-heading>Examples</kit-text-heading>

    <!-- Default Image -->
    <ng-container>
        <kit-text-label>Default Image</kit-text-label>
        <kit-text-caption>A basic image with a src and alt text.</kit-text-caption>
        <kit-image [src]="randomImageSrc"
                   width="300"
                   height="200"
                   alt="A beautiful landscape"></kit-image>
    </ng-container>

    <!-- Image with different fit modes -->
    <ng-container>
        <kit-text-label>Fit Modes</kit-text-label>
        <kit-text-caption>The `fit` property controls how the image should be resized to fit its
            container.</kit-text-caption>
        <kit-column crossAxisAlignment="start">
            <kit-padding>
                <kit-text-label>Cover</kit-text-label>
                <kit-image [src]="randomImageSrc"
                           alt="A beautiful landscape"
                           width="300"
                           height="300"
                           fit="cover"></kit-image>
            </kit-padding>
            <kit-padding>
                <kit-text-label>Contain</kit-text-label>
                <kit-image [src]="randomImageSrc"
                           alt="A beautiful landscape"
                           width="300"
                           height="300"
                           fit="contain"></kit-image>
            </kit-padding>
            <kit-padding>
                <kit-text-label>Fill</kit-text-label>
                <kit-image [src]="randomImageSrc"
                           alt="A beautiful landscape"
                           width="300"
                           height="300"
                           fit="fill"></kit-image>
            </kit-padding>
            <kit-padding>
                <kit-text-label>None</kit-text-label>
                <kit-image [src]="randomImageSrc"
                           alt="A beautiful landscape"
                           width="300"
                           height="300"
                           fit="none"></kit-image>
            </kit-padding>
            <kit-padding>
                <kit-text-label>Scale Down</kit-text-label>
                <kit-image [src]="randomImageSrc"
                           alt="A beautiful landscape"
                           width="300"
                           height="300"
                           fit="scale-down"></kit-image>
            </kit-padding>
        </kit-column>
    </ng-container>

    <!-- Image with border radius -->
    <ng-container>
        <kit-text-label>Border Radius</kit-text-label>
        <kit-image [src]="randomImageSrc"
                   alt="A beautiful landscape"
                   width="200"
                   height="200"
                   borderRadius="50%"></kit-image>
    </ng-container>

    <!-- Custom Loading Template -->
    <ng-container>
        <kit-text-label>Custom Loading Template</kit-text-label>
        <kit-text-caption>Provide a custom loading template using the `kitImageLoading` directive.</kit-text-caption>
        <app-code-block [code]="customLoadingUsage"
                        language="html"></app-code-block>
        <kit-image [src]="randomImageSrc"
                   width="300"
                   height="200"
                   alt="A beautiful landscape">
            <ng-template kitImageLoading>
                <kit-container border="1px dashed gray"
                               padding="10px">
                    <kit-text-caption>Loading...</kit-text-caption>
                </kit-container>
            </ng-template>
        </kit-image>
        <kit-button (click)="onLoadNewImage()">Load new image</kit-button>
    </ng-container>

    <!-- Custom Error Template -->
    <ng-container>
        <kit-text-label>Custom Error Template</kit-text-label>
        <kit-text-caption>Provide a custom error template using the `kitImageError` directive.</kit-text-caption>
        <app-code-block [code]="customErrorUsage"
                        language="html"></app-code-block>
        <kit-image src="https://thissourcedoesnotexist.com/image.png"
                   width="300"
                   height="200"
                   alt="A beautiful landscape">
            <ng-template kitImageError>
                <kit-container border="1px dashed gray"
                               padding="10px">
                    <kit-text-caption>Error loading image.</kit-text-caption>
                </kit-container>
            </ng-template>
        </kit-image>
    </ng-container>

</kit-page>