<kit-page>
  <kit-text-display>Services</kit-text-display>
  <kit-text-body>Explore the various services available in NGX Kit UI</kit-text-body>

  @for (group of serviceGroups; track group.name) {
  <kit-spacer [size]="32"></kit-spacer>

  <kit-text-heading>{{ group.name }}</kit-text-heading>
  <kit-text-body color="secondary">{{ group.description }}</kit-text-body>

  <kit-spacer [size]="16"></kit-spacer>

  <kit-grid [minColWidth]="'250px'"
            [maxColWidth]="'1fr'"
            [colGap]="24"
            [rowGap]="24"
            [fullWidth]="true"
            alignItems="stretch"
            justifyItems="stretch">

    @for (service of group.services; track service.name) {

    <kit-card elevation="medium"
              [clickable]="true"
              [disabled]="!service.enabled"
              [routerLink]="[service.path]"
              class="component-card"
              [fullHeight]="true">

      <kit-column [gap]="16"
                  [crossAxisAlignment]="'start'">

        <!-- Component Name -->
        <kit-text-label>{{ service.name }}</kit-text-label>

        <!-- Description -->
        <kit-text-caption color="secondary">
          {{ service.description }}
        </kit-text-caption>

        <kit-spacer [flex]="1"></kit-spacer>

      </kit-column>
    </kit-card>

    }

  </kit-grid>
  }

</kit-page>