<kit-page>
  <kit-text-display>ApTopp Bar</kit-text-display>
  <kit-text-body>A responsive top bar that displays a title and actions.</kit-text-body>

  <kit-text-heading>Usage</kit-text-heading>
  <kit-text-body>Import the navigation module</kit-text-body>
  <app-code-block [code]="importModule"></app-code-block>
  <kit-text-body>Or you can import the single component</kit-text-body>
  <app-code-block [code]="importComponent"></app-code-block>
  <kit-text-body>Then use the component in your template</kit-text-body>
  <app-code-block [code]="usage"
                  language="html"></app-code-block>

  <kit-text-heading>Examples</kit-text-heading>
  <kit-text-body>No example provided</kit-text-body>

  <app-host-shell>
    <kit-app-root>
      <kit-top-bar>
        <kit-text-body align="center">Top Bar</kit-text-body>
      </kit-top-bar>
    </kit-app-root>
  </app-host-shell>
</kit-page>