<kit-page>
    <kit-text-display>Simple Table</kit-text-display>
    <kit-text-body>A simple table for displaying data.</kit-text-body>

    <kit-text-heading>Usage</kit-text-heading>
    <kit-text-body>Import the data module</kit-text-body>
    <app-code-block [code]="importModule"></app-code-block>
    <kit-text-body>Or you can import the single component</kit-text-body>
    <app-code-block [code]="importComponent"></app-code-block>
    <kit-text-body>Then use the component in your template</kit-text-body>
    <app-code-block [code]="usage"
                    language="html"></app-code-block>

    <kit-text-heading>Inputs</kit-text-heading>
    <kit-simple-table [definition]="inputsDefinition"
                      [dataset]="inputsDataset"></kit-simple-table>

    <kit-text-heading>Outputs</kit-text-heading>
    <kit-simple-table [definition]="outputsDefinition"
                        [dataset]="outputsDataset"></kit-simple-table>

    <kit-text-heading>Styling Variables</kit-text-heading>
    <kit-simple-table [definition]="stylingDefinition"
                        [dataset]="stylingDataset"></kit-simple-table>

    <kit-text-heading>Examples</kit-text-heading>

    <kit-text-label>Table Definition</kit-text-label>
    <app-code-block [code]="tableDefinitionCode"></app-code-block>

    <kit-text-label>Table Data</kit-text-label>
    <app-code-block [code]="tableDataCode"></app-code-block>

    <kit-text-label>Result</kit-text-label>
    <kit-simple-table [definition]="tableDefinition"
                      [dataset]="tableData"></kit-simple-table>

</kit-page>
