<kit-page>
  <kit-text-display>App Root</kit-text-display>
  <kit-text-body>This is the main container all Kit apps need to start in to ensure components work
    together</kit-text-body>
  <kit-text-body>This should always be at the root of your app container</kit-text-body>

  <kit-text-heading>Usage</kit-text-heading>
  <kit-text-body>Import the layout module</kit-text-body>
  <app-code-block [code]="importModule"></app-code-block>
  <kit-text-body>Or you can import the single component</kit-text-body>
  <app-code-block [code]="importComponent"></app-code-block>
  <kit-text-body>Then use the component in your template</kit-text-body>
  <app-code-block [code]="usage"
                  language="html"></app-code-block>

  <kit-text-heading>Examples</kit-text-heading>

  <kit-text-body>No example provided</kit-text-body>

</kit-page>