<kit-page>

    <kit-text-display>Page</kit-text-display>
    <kit-text-body>A responsive container component that adapts its width based on screen size.</kit-text-body>
    <kit-text-body>Each full width and height screen should use the page component to ensure proper layout and that
        dependent components are rendered correctly</kit-text-body>
    <kit-text-body>The page component must be a child of the app root component</kit-text-body>

    <kit-text-heading>Usage</kit-text-heading>
    <kit-text-body>Import the layout module</kit-text-body>
    <app-code-block [code]="importModule"></app-code-block>
    <kit-text-body>Or you can import the single component</kit-text-body>
    <app-code-block [code]="importComponent"></app-code-block>
    <kit-text-body>Then use the component in your template</kit-text-body>
    <app-code-block [code]="usage"
                    language="html"></app-code-block>

    <kit-text-heading>Examples</kit-text-heading>

    <kit-text-body>No example provided</kit-text-body>

</kit-page>