.outer-container {
    border: 1px dashed #ccc;
    position: relative;
    padding: 20px;
    margin:5px;
    border-radius: 8px;
    height: 200%;
}

.inner-container{
    border: 1px dashed #ccc;
    margin: 2px;
}