<kit-page>
    <kit-text-display>Spacer</kit-text-display>
    <kit-text-body>A component that creates an adjustable, empty space that can be used to tune the spacing between
        widgets in a Flex container, like Row or Column.</kit-text-body>

    <kit-text-heading>Usage</kit-text-heading>
    <kit-text-body>Import the layout module</kit-text-body>
    <app-code-block [code]="importModule"></app-code-block>
    <kit-text-body>Or you can import the single component</kit-text-body>
    <app-code-block [code]="importComponent"></app-code-block>
    <kit-text-body>Then use the component in your template</kit-text-body>
    <app-code-block [code]="usage"
                    language="html"></app-code-block>

    <kit-text-heading>Inputs</kit-text-heading>

    <kit-simple-table [definition]="inputsDefinition"
               [dataset]="inputsDataset"></kit-simple-table>

    <kit-text-heading>Examples</kit-text-heading>

    <div class="outer-container">
        <div class="inner-container">
            <kit-padding [x]="24"
                         [y]="24">
                <kit-text-caption [weight]="'bold'">CONTENT</kit-text-caption>
            </kit-padding>
        </div>

        <div class="inner-container">
            <kit-padding>
                <kit-spacer></kit-spacer>
            </kit-padding>
        </div>

        <div class="inner-container">
            <kit-padding [x]="24"
                         [y]="24">
                <kit-text-caption [weight]="'bold'">CONTENT</kit-text-caption>
            </kit-padding>
        </div>
        <div class="inner-container">
            <kit-padding [x]="24"
                         [y]="24">
                <kit-text-caption [weight]="'bold'">CONTENT</kit-text-caption>
            </kit-padding>
        </div>
    </div>

</kit-page>