<kit-page>

    <kit-text-display>Time Input</kit-text-display>
    <kit-text-body>Kit Time Inputs are form controls for capturing time values from users.</kit-text-body>

    <kit-text-heading>Usage</kit-text-heading>
    <kit-text-body>Import the input module</kit-text-body>
    <app-code-block [code]="importModule"></app-code-block>
    <kit-text-body>Or you can import the single component</kit-text-body>
    <app-code-block [code]="importComponent"></app-code-block>
    <kit-text-body>Then use the component in your template</kit-text-body>
    <app-code-block [code]="usage"
                    language="html"></app-code-block>

    <kit-text-heading>Inputs</kit-text-heading>

    <kit-simple-table [definition]="inputsDefinition"
                      [dataset]="inputsDataset"></kit-simple-table>

    <kit-text-heading>Outputs</kit-text-heading>
    <kit-simple-table [definition]="outputsDefinition"
                      [dataset]="outputsDataset"></kit-simple-table>

    <kit-text-heading>Styling Variables</kit-text-heading>
    <kit-simple-table [definition]="stylingDefinition"
                      [dataset]="stylingDataset"></kit-simple-table>

    <kit-text-heading>Examples</kit-text-heading>

    <!-- Basic Time Input -->
    <ng-container>
        <kit-text-label>Basic</kit-text-label>
        <kit-padding>
            <kit-input-time title="Time"
                            [(value)]="basicValue"></kit-input-time>
        </kit-padding>

        <kit-text-body>Current value: "{{ basicValue }}"</kit-text-body>
    </ng-container>

    <!-- Disabled Time Input -->
    <ng-container>
        <kit-text-label>Disabled</kit-text-label>
        <kit-padding>
            <kit-input-time title="Time"
                            [disabled]="true"></kit-input-time>
        </kit-padding>
    </ng-container>

    <!-- Required Time Input -->
    <ng-container>
        <kit-text-label>Required</kit-text-label>
        <kit-padding>
            <kit-input-time title="Time"
                            [required]="true"
                            [(value)]="requiredValue"></kit-input-time>
        </kit-padding>
        <kit-text-body>Current value: "{{ requiredValue }}"</kit-text-body>
    </ng-container>

    <!-- Reactive Form Example -->
    <ng-container>
        <kit-text-label>Reactive Forms</kit-text-label>
        <kit-padding>
            <form [formGroup]="form">
                <kit-input-time title="Time"
                                formControlName="time"></kit-input-time>

                <kit-text-body>Form Value: "{{ form.value | json }}"</kit-text-body>
                <kit-text-body>Form Valid: "{{ form.valid | json }}"</kit-text-body>

            </form>
        </kit-padding>
    </ng-container>

</kit-page>