<kit-page>
  <kit-text-display>Theme Service</kit-text-display>
  <kit-text-body>A service to manage the application theme.</kit-text-body>

  <kit-spacer [size]="32"></kit-spacer>

  <kit-text-heading>Methods</kit-text-heading>
  <kit-simple-table [definition]="methodsDefinition"
                    [dataset]="methodsDataset"></kit-simple-table>

  <kit-spacer [size]="32"></kit-spacer>

  <kit-text-heading>Properties</kit-text-heading>
  <kit-simple-table [definition]="propertiesDefinition"
                    [dataset]="propertiesDataset"></kit-simple-table>

</kit-page>