.outer-container {
    border: 1px dashed #ccc;
    position: relative;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.outer-container-sized {
    border: 1px dashed #ccc;
    position: relative;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    width: 300px;
}