.outer-container {
    border: 1px dashed #ccc;
    position: relative;
    padding: 20px;
    margin: 5px;
    border-radius: 8px;
    height: 220px;
    width: 400px;
}

.marker {
    border: 1px dashed #ddd;
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: 600;
}