<kit-page>
    <kit-text-display>Installation</kit-text-display>
    <kit-text-body>
        Welcome to NGX Kit UI! This library provides a collection of reusable UI components for Angular applications.
        Follow the steps below to get started.
    </kit-text-body>

    <kit-text-heading>Use NPM install</kit-text-heading>
    <kit-text-body>
        You can install the library using npm. Run the following command in your terminal:
    </kit-text-body>
    <app-code-block [code]="installationCode"></app-code-block>

    <kit-text-heading>That's it!</kit-text-heading>
    <kit-text-body>
        You're now ready to start building beautiful user interfaces with NGX Kit UI. For more information on specific
        components, check out the component documentation.
    </kit-text-body>

    <kit-spacer [size]="32"></kit-spacer>

    <kit-text-heading>Customization</kit-text-heading>
    <kit-text-subheading>Custom Font</kit-text-subheading>
    <kit-text-body>
        To use a custom font, simply add the font to your project like you would with regular CSS. You can use Google
        Fonts or host your own.
    </kit-text-body>
    <kit-text-body>
        Here is an example of how to use the Roboto font in your project:
    </kit-text-body>
    <app-code-block [code]="customFontCode"></app-code-block>

</kit-page>