<kit-card [fullWidth]="true">

    <kit-column mainAxisAlignment="between"
                crossAxisAlignment="center"
                [fullWidth]="true">


        <kit-carousel itemSizing="content">
            @for(category of categories; track category.id)
            {
            <kit-badge [active]="false"
                       color="secondary"><ng-icon name="hugeTag01"></ng-icon> {{category.name}}</kit-badge>
            }
        </kit-carousel>

        <kit-carousel itemSizing="content">
            @for(category of categories; track category.id)
            {
            <kit-button>{{category.name}}</kit-button>
            }
        </kit-carousel>

    </kit-column>

</kit-card>